@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    background-color: #eff0f0;
  }
.subMenuWrapper {
  width: 90%;
  height: 60px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.subMenuWrapper a {
  color: darkblue;
  font-size: 20px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #121212;
  letter-spacing: 5px;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

